* {
  margin: 0;
  padding: 0;
}
body {
  box-sizing: border-box;
  background-color: #000;
  color: #fff;
  text-align: center;
}
#headings {
  font-size: 35px;
  color: white;

  height: 300px;
}
#headings h1 {
  font-size: 50px;
  position: relative;

  animation: headings;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}
@keyframes headings {
  0% {top: -50px}
  100% {top: 100px}
}


.main {
  padding: 20px;
  margin: auto;
}
.main h2, .main p {
  font-size: 16px;
  position: relative;

  animation: main;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}
@keyframes main {
  0% {left: -1500px}
  100% {left: 0px}
}
.container {
  height: 200px;
  border: 1px solid red;
}

/* Div id = counter */
#counter h2 {
  background: #fff;
  color: #000;
  font-size: 50px;
  line-height: 1.5;
}


/* FOOTER 2X2 GRID LAYOUT */

.split {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(100px, auto);
  position: relative;
  padding: 10px;
}
.ft-gd1 {
  grid-column-start: 1;
  grid-column-end: 1;
  background: inherit;
  text-align: center;
  padding-top: 20px;
}
.ft-gd2 {
  grid-column-start: 2;
  grid-column-end: 2;
  background: #000;
  border-radius: 50px;
  text-align: center;
  padding-top: 20px;
}
.ft-gd3 {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  background: #000;
  color: #fff;
  text-align: center;
  padding-top: 20px;
  border-radius: 50px;
}

.ft-gd4 {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  text-align: center;
  padding-top: 20px;
}
/* FOOTER child elements */
.copy {

}
.signiture {

}
.links a {
  color: #fff;
  text-decoration: none;
  padding: 20px;
  font-size: 24px;
}
.active {
  text-decoration: underline;
  text-decoration-style: double;
  color: purple;
}
.icons {
  font-size: 25px;
  text-align: center;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  color: white;
}
