/* Font Family + Color Scheme
font-family: 'Cutive Mono', monospace; [MAIN HEADINGS H1-H3]
font-family: 'Pompiere', cursive; [SUB HEADS + <P> elements]
*/
/* Global Atts */

* {
margin: 0;
padding: 0;
}
body {
box-sizing: border-box;

font-family: 'Pompiere', cursive;
}
img {
  width: 300px;
  height: 300px;
  overflow: hidden;
}
section {
   text-align: center;
   margin: 20px;
   padding: 20px;
}
h1, h2, h3 {
  color: ; /* still deciding !!! */
  font-family: 'Cutive Mono', monospace;
}
.hero-container {
  height: 35vh;
  background-image: linear-gradient(to bottom, #000, #f4f4f4);

}
/* NAV properties */
.sticky + .hero-container {
  padding-top: 60px;
}
.top-stick {
  text-align: center;
  background: #000;
  color: #fff;
  position: fixed;
  top: 0;
  width: 100%;


}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
nav a {
color: #fff;
font-size: 20px;
display: block;


}

/* animation of heading */
.slide-left {
  width: 100%;
  overflow: hidden;
}
.hero-sub h1, .hero-sub h2 {
  animation:slide-left 3s;
}
@keyframes slide-left {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}
/* Landing | Home Page Image + Text Props */
.hero {
  background-image: url("img/alphine-bk.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.hero-text {
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  color: #000;
  transform: translate(-50%, -50%);
  font-family: 'Raleway', sans-serif;
}

.hero-sub {
  background-image: url("img/alphine-bk.jpg");
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.begining {
  color: #000;
  font-size: 50px;
  text-shadow: 3px 2px #e191fd;
}

/* SECTION main */
#main {
  background-image: linear-gradient(to bottom, #dbcdcd, #fff);
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  padding: 10px;
}
#main p {
  color: #000;
  font-size: 22px;
  line-height: 30px;
}
 h2 {
  text-decoration: underline;
  font-size: 35px;
  /*
  color: #e191fd;
*/
}




/*SECTION work [class] properties */
.col {
  float: left;
  border-bottom: 1px solid red;
  width: 50%;
  padding-top: 10px;
  margin: auto;
  align-items: center;
  align-content: center;
  justify-content: center;

}

.col img {
  width: 100%;
  height: 33.3%;
}

.work p {
  font-size: 25px;
  padding: 10px;

}
.work h3 {
  animation: slide-right 5s ease-in;

}

@keyframes slide-right {
  from {
    margin-right: 100%;
    width: 300%;
  }
  to {
    margin-right: 0%;
    width: 100%;
  }
}



.grid {
  display: flex;
  flex-direction: column;
}
.item {
  background-color: green;
  color: white;
  height: 150px;
  width: 150px;
  padding: 10px;
  margin: 30px;
  overflow: auto;
}





/* SECTION designs
FLEX Section - Flex Direction = Column
 */
.designs {
  text-align: center;
  padding: 10px;
  margin: 20px;

}
.container-flex {
  clear: both;
  display: flex;
}
.des-col {
  width: 33.3%;

  margin: 10px;

  background-image: linear-gradient(to bottom, #bdd0fd, #fff);
}
/* SECTION features */

.features {
  margin-top: 25px;
  padding: 10px;

}


/* HIRE.HTML
 id=MAPS */
#maps {
  height: 400px;
  width: 100%;
  max-width: 960px;

  margin: auto;
  z-index: -1;
}

/* HIRE.html
iFrame class="preview" */
.Respreview {
  height: 400px;
  width: 550px;
  max-width: 960px;
}
/* Gallery.html
properties */
.container {
  text-align: center;

  /*max-height: 500px;*/
  border: 1px solid red;

}
/* Flex layout properties */
.box {
  display: flex;
  background: #000;
  height: 200px;
  width: 200px;
  padding: 10px;
  margin: auto;
}
/* Grid layout properties */
.gdbox {
  align-items: center;
  background: #000;
  height: 200px;
  width: 200px;
  padding: 10px;
  margin: 10px ;

}
.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 3;
}
.gdbox-1 {
  grid-column-start: 1;
  grid-row-start: 1;
}
.gdbox-2 {
  grid-column-start: 2;
  grid-row-start: 1;
}
.gdbox-3 {
  grid-column-start: 3;
  grid-row-start: 1;
}
.gdbox-4 {
  grid-column-start: 4;
  grid-row-start: 1;
}
.gdbox-5 {
  grid-column-start: 1;
  grid-row-start: 2;
}
.gdbox-6 {
  grid-column-start: 2;
  grid-row-start: 2;
}
.gdbox-7 {
  grid-column-start: 3;
  grid-row-start: 2;
}
.gdbox-8 {
  grid-column-start: 4;
  grid-row-start: 2;
}
.gdbox-9 {
  grid-column-start: 1;
  grid-row-start: 3;
}
.gdbox-10 {
  grid-column-start: 2;
  grid-row-start: 3;
}
.gdbox-11 {
  grid-column-start: 3;
  grid-row-start: 3;
}
.gdbox-12 {
  grid-column-start: 4;
  grid-row-start: 3;
}

/* Responsive Grid section */
.resGridRow {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  margin: auto;
}
.resGridCol {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}
.resGridCol img {
  margin-top: 8px;
  vertical-align: middle;
}
.preview {
  height: 400px;
  width: 550px;
  max-width: 960px;
}

.-emulate-preview {
  width: 100%;
  height: auto;
  
}
/* FOOTER 2X2 GRID LAYOUT */

.split {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(100px, auto);
  position: relative;
  padding: 10px;
}
.ft-gd1 {
  grid-column-start: 1;
  grid-column-end: 1;
  background: #fff;
  text-align: center;
  padding-top: 20px;
}
.ft-gd2 {
  grid-column-start: 2;
  grid-column-end: 2;
  background: #000;
  border-radius: 50px;
  text-align: center;
  padding-top: 20px;
}
.ft-gd3 {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  background: #000;
  color: #fff;
  text-align: center;
  padding-top: 20px;
  border-radius: 50px;
}

.ft-gd4 {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  text-align: center;
  padding-top: 20px;
}
/* FOOTER child elements */
.copy {

}
.signiture {

}
.links a {
  color: #fff;
  text-decoration: none;
  padding: 20px;
  font-size: 24px;
}
.active {
  text-decoration: underline;
  text-decoration-style: double;
  color: purple;
}
.icons {
  font-size: 25px;
  text-align: center;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  color: white;
}

















/* Media queries for mobile */
@media screen and (max-width: 800px) {
img {
  height: auto;
  width: 100%;
}
.col {
  width: 100%;
  display: inline;
}
.container-flex {
  display: block;
  padding: 10px;
  margin-top: 20px;

}
.des-col {
  width: 100%;

}
.split {
  display: block;
}
nav a {
  display: block;
}
.gdbox, .box {
  display: block;
  width: 100%;
  max-width: 100%;
}
.resGridCol {
  flex: 100%;
  max-width: 100%;
}

}
